body {
	font-family: "EB Garamond", serif !important;
}

.btn-check:focus+.btn-light, .btn-light:focus {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
	box-shadow: unset;
}

.dropdown-toggle::after {
	display: none !important;
}

.dropdown-menu[data-bs-popper] {
	top: 100%;
	left: -130px;
	margin-top: .125rem;
}

button#dropdownMenuButton1 {
	font-size: 25px;
}

.dropdown-item {
	font-size: 20px;
}

hr {
	margin: 0.3rem 0;
	color: inherit;
	background-color: currentColor;
	border: 0;
	opacity: .25;
}

i.fa-solid.fa-right-from-bracket {
	rotate: 270deg;
}

.hero h1 {
	font-size: 32px;
	font-weight: 700;
	color: #097249;
}

.hero p {
	font-size: 24px;
}

.btn-secondary {
	color: white;
	text-decoration: none;
	background-color: #13342B !important;
	padding: 16px 10px;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #e9ecef !important;
	color: black !important;
}

.labels {
	font-size: 18px;
	color: #6A6A6A;
	background: white;
	padding: 5px 10px;
	margin-left: 10px;
}

.reg-form {
	margin-top: -18px;
	border-radius: 5px !important;
	padding: 25px 22px;
}

.p-content {
	font-size: 18px;
}

.hero-text {
	font-size: 32px;
	color: #025d2f;
	margin-top: 20px;
	font-weight: 700;
}

.how-it-works {
	background-color: #e9f8f3;
	border-radius: 12px;
	padding: 30px;
	margin-top: 30px;
}

.how-it-works h6 {
	font-weight: bold;
}

.form-section {
	background-color: #fff;
	padding: 40px;
}

.form-check-input {
	margin-top: 0.4rem;
}

.form-control {
	border-radius: 8px;
	border-color: #ccc;
}

.btn-outline {
	color: #222222;
}

.btn-outline, .btn-dark-green {
	padding: 15px 20px;
	font-weight: 700;
	width: 48%;
	border-radius: 5px;
}

.btn-outlined {
	padding: 7px 7px;
	font-weight: 700;
	border-radius: 5px;
	border: 1px solid #E4E4E7;
}

a {
	color: #000000;
}

a:hover {
	color: #000000;
}

.btn-dark-green {
	background-color: #13342B;
	color: white !important;
	border: 1px solid #13342B;
}

.btn-outline {
	border: 1px solid #ccc;
	background-color: transparent;
}

.footer-text {
	font-size: 1rem;
	color: #222222;
	margin-top: 118px;
}

.nav-link-lkd {
	text-align: left !important;
}

.light-green {
	background-color: #F3F6F9;
}

.fsadfas {
	font-size: 20px;
	background: black;
	color: white;
	border-radius: 50px;
	padding: 13px 20px;
}

.user {
	margin-left: 20px;
}

.active-text {
	color: #246F48;
	
}

.nav-item-1 a {
	font-weight: 700;
}

.user h2 {
	font-size: 20px;
	font-weight: 700;
}

.text-red {
	color: #EF4444
}

.text-green {
	color: #246F48;
}

.fw-900 {
	font-weight: 900 !important;
}

.h-30 {
	font-size: 30px;
}

.h-24 {
	font-size: 24px;
}

.h-18 {
	font-size: 18px;
}

.h-14 {
	font-size: 14px;
}

.h-15 {
	font-size: 15px;
}

.user p {
	margin-bottom: 0px !important;
	font-size: 18px;
	color: #757575;
}

#chartContainer {
	width: 100%;
	margin: auto;
	padding: 30px;
}

.verify-box {
	border: 1px solid #E4E4E7;
	border-radius: 10px;
	padding: 20px;
}

.form-controls {
	display: block;
	width: 50%;
	padding: 12px 20px;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	color: #212529;
	background-color: #FAFAFA;
	background-clip: padding-box;
	border: 1px solid #E4E4E7;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
html, body{
	width: 100%;
}
.card {
	background-color: #ECF9F2;
	margin-bottom: 20px;
}

.required {
	color: red;
}

.border-radius {
	border-radius: 10px;
}

.light-gray {
	color: #757575;
}

.light-gray-1 {
	color: #71717A;
}

.active432 {
	color: #757575;
	font-size: 15px;
}

.revenue-chart p {
	font-size: 20px;
	font-weight: 700;
}

.activity-sec p {
	font-size: 20px;
	font-weight: 700;
}

.sidebar {
	width: 200px;
	padding-top: 20px;
	background-color: #f1f5f9;
}

.nav-link {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 15px;
	margin-bottom: 10px;
	color: #111827;
	text-decoration: none;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	position: relative;
	font-weight: 500;
	transition: background 0.3s ease;
}

.nav-link:focus, .nav-link:hover {
	color: black;
}

.nav-link i {
	font-size: 16px;
	background-color: white;
	border-radius: 50%;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-link.active {
	background-color: #ffffff;
	color: #166534;
}

.nav-link.active::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-color: #166534;
	border-radius: 3px;
}

.btn-green {
	background-color: #246F48;
	color: white;
}

.btn-green:hover {
	background-color: #246F48;
	color: white;
}

.active-icon {
	background-color: #D5FFEC !important;
}

.nav-liks {
	border: 0px;
	background-color: transparent;
	padding: 12px 20px;
}

.nav-liks.active {
	border-bottom: 1px solid black;
}

.tab-content>.active {
	display: block;
	padding: 25px 20px;
}

.deals p {
	font-size: 20px;
	font-weight: 700;
}

.profile-card {
	border: 1px solid #eee;
	border-radius: 8px;
	padding: 20px;
}

.avatar-circle {
	width: 80px;
	height: 80px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: bold;
	margin: auto;
}

.profile-name {
	text-align: center;
	font-weight: 600;
	margin-top: 10px;
}

.divider {
	background-color: #E4E4E7;
	padding: 60px 1px
}

.info-icon {
	width: 20px;
}

.ul#myTab li.nav-item {}




/**/
.step-container {
	position: relative;
	text-align: center;
	transform: translateY(-43%);
}

.progress-bar {
	background-color: #F2F2F2 !important;
}

.step-circle {
	width: 100px;
	height: 33px;
	border-radius: 53px;
	background-color: #fff;
	border: 1px solid #D9D9D9;
	line-height: 30px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.step-circle.bg-success {
	background-color: #246F48 !important;
	color: #fff !important;
}

.step-line {
	position: absolute;
	top: 16px;
	left: 50px;
	width: calc(100% - 100px);
	height: 2px;
	background-color: #007bff;
	z-index: -1;
}

#multi-step-form {
	overflow-x: hidden;
}

.modal.modal-right .modal-dialog {
	position: absolute !important;
	right: 0;
	top: 0;
	margin: 0;
	height: 100%;
	transform: none;
}

.modal.modal-right .modal-content {
	height: 100%;
	border-radius: 0;
}

.modal-body {
	background-color: white;
}

@media only screen and (max-width: 768px) {
	.lasdkf {
		margin-top: 20px
	}
	
	.divider {
		display: none;
	}
}

@media only screen and (max-width: 501px) {
	.fdafaf {
		width: fit-content !important;
	}
}

@media only screen and (max-width: 500px) {
	.navbar-brand {
		width: 70%;
	}
	.flex-direction{
		flex-direction: column-reverse !important;
	}
	.b-bottom{
		border-bottom: 1px solid #D9D9D9;
	}
	.logo {
		width: 100%
	}
	
	#chartContainer {
    	padding: 0px !important;
	}

	.hero h1, .hero-text {
		font-size: 24px !important;
	}
	
	.hero p {
		font-size: 20px !important;
	}
	.small, small {
		font-size: 18px !important;
	}
}

@media only screen and (max-width: 425px) {
	.btn-outline, .btn-dark-green {
		padding: 15px 20px;
		font-weight: 700;
		width: 100% !important;
	}
	
	.btn-groups {
		flex-direction: column-reverse !important;
	}
	
	.mt-32 {
		margin-top: 30px !important;
	}
	
	.footer-text {
		margin-top: 30px !important;
	}
	
}

@media only screen and (max-width: 420px) {
	.footer-text div {
		display: block !important;
	}
	
	.fdsa32 {
		margin-left: 0px !important;
	}
}

@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1700px;
	}
}